:root {
  --main-text-color: #292929;
  --background-menu-color: #e8eff9;
  --duration-and-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: var(--main-text-color);
}

/* Resets */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Utility */

.container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 744px) {
  .container {
    width: 600px;
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    width: 1020px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.button {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

/* Header */

.header-wrapper {
  display: flex;
  align-items: center;
}

.menu-button {
  margin-left: auto;
}

.header {
  padding-top: 36px;
  padding-bottom: 18px;
}

@media screen and (min-width: 744px) {
  .header {
    padding-top: 64px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 743px) {
  .icon-bose-logo {
    width: 127px;
    height: 16px;
  }
}

/* Hero Section */

.hero-section {
  max-width: 320px;
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/hero/hero-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 744px) {
  .hero-section {
    max-width: 744px;
    min-height: 800px;
  }
}

@media screen and (min-width: 1260px) {
  .hero-section {
    max-width: 1260px;
    min-height: 720px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 743px),
  screen and (min-resolution: 192dpi) and (max-width: 743px),
  screen and (min-resolution: 2dppx) and (max-width: 743px) {
  .hero-section {
    background-image: url(..//images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 744px),
  screen and (min-resolution: 96dpi) and (min-width: 744px),
  screen and (min-resolution: 1dppx) and (min-width: 744px) {
  .hero-section {
    background-image: url(..//images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 744px),
  screen and (min-resolution: 192dpi) and (min-width: 744px),
  screen and (min-resolution: 2dppx) and (min-width: 744px) {
  .hero-section {
    background-image: url(..//images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 1260px),
  screen and (min-resolution: 96dpi) and (min-width: 1260px),
  screen and (min-resolution: 1dppx) and (min-width: 1260px) {
  .hero-section {
    background-image: url(..//images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1260px),
  screen and (min-resolution: 192dpi) and (min-width: 1260px),
  screen and (min-resolution: 2dppx) and (min-width: 1260px) {
  .hero-section {
    background-image: url(..//images/hero/hero-desktop@2x.jpg);
  }
}
